.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.logo {
    float: left;
    position: relative;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.logo span {
    position: absolute;
    right: 18px;
    top: -18px;
    font-size: 16px;
    color: white;
}

.logo:hover span {
    color: #1890ff;
}

.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
